{% extends 'base.html' %}

{% block content %}

<div class = "flex justify-center items-center h-screen bg-gray-100">
    <div class=" bg-white p-8 rounded-lg shadow-lg">
        <h1 class="text-3xl font-semibold mb-6">Add New Item</h1>
    
        <form method="POST">
            {% csrf_token %}
            <table class="'flex w-full">
                <tbody class="flex flex-col">
                    <tr>
                        <td>
                            <h1 class="font-medium">Name</h1>
                        </td>
                    </tr>
            
                    <tr class="mb-5">
                        <td>
                            {{form.name}}
                        </td>
                    </tr>
            
                    <tr>
                        <td>
                            <h1 class="font-medium">Amount</h1>
                        </td>
                    </tr>
            
                    <tr class="mb-5">
                        <td>
                            {{form.amount}}
                        </td>
                    </tr>
    
                    <tr>
                        <td>
                            <h1 class="font-medium">Description</h1>
                        </td>
                    </tr>
            
                    <tr class="mb-5">
                        <td>
                            {{form.description}}
                        </td>
                    </tr>

                    <tr class="flex justify-center">
                        <td class="flex justify-center w-1/2 bg-blue-500 text-white py-1 items-center rounded-lg">
                            <input type="submit" value="Add Item"/>
                        </td>
                    </tr>

                </tbody>
            </table>
        </form>
    </div>
</div>


{% endblock content %}